html {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
}


body {
  margin: 2.5rem 2.5rem 5rem 5rem;
  padding: 0;
  background: #e1dfea;
}
@media (max-width: 768px) {

}

.conten {
  position: relative;
  margin-left: 0;
  display: block;
  width: fit-content;
  height: auto;
}

.dsc {
  position: relative;
  margin-left: 10.5rem;
  display: block;
  height: auto;
  width: 24rem;
  text-align: left;
}
.dscli1 {
  position: relative;
  margin-left: 13rem;
  display: inline-block;
  height: auto;
  width: fit-content;
  text-align: left;
}
.dscli2 {
  position: relative;
  margin-left: 2rem;
  display: inline-block;
  height: auto;
  width: fit-content;
  text-align: left;
}

.cl {
  margin: 0;
  padding: 0;
}
.clli {
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
.cltx{
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
.desc {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #969696;
}
.inlblck{
  position: relative;
  margin-left: 2rem;
  display: inline-block;
  height: auto;
  width: fit-content;
}
.inlblckone{position: relative;
  margin-left: 17rem;
  display: inline-block;
  height: auto;
  width: fit-content;}
.spntx{
  font-weight: bold;
}
.inlh2{
  position: relative;
  display: inline-block;
  height: auto;
  width: fit-content;
}
.sp1 {
  margin: 1rem 0;
  height: 0.5rem;
  width: auto;
  background: #4380D3;
}

.sphead{
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.txbl {
  list-style-type: none;
  font-weight: bold;
}